.header {
    display: flex;
    justify-content: space-between;
}

.createForm {
    border-top: none;
    background: #121212;
    padding: 12px;	
    display: flex;
    flex-direction: column;
    color: #121212;
}

.createForm div {
    margin-bottom: 5px;
}

.createForm label {
    color: #808080;
}

.createForm input{
    border-radius: 7px;
    background: none;
}

.createForm input:focus{
    border: none;
}

.border {
    border-bottom: 1px solid #292934;
    width: 100%;
    height: 16px;
}

.inputText {
    color: #bdbdbd;
}

.inputContainer {
    background-color: whitesmoke;
    padding: 4rem;
    border-radius: .5rem;
}

.timeInputContainer {
    display: flex;
}