
.signup-page{
    display: flex;
    height: 100vh;
}

.left-container{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background:white;
}

.right-container{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #292934;
  background: #12121b;
}

.animation-box {
  width: 60%;
}

@media only screen and (max-width: 900px) {
  .signup-page{
    flex-direction: column;
    width: 100vw;
  }

  .left-container{
    display: none;
  }

  .right-container{
    width: 100%;
    height: 100vh;
  }
}