body {
    margin: 0;
}

.landing-page-container {
    display: flex;
    height: 100vh;
}

.landing-col {
    flex:50%;
}

.left {      
    background-color: #F4F9FF;
    color: black;
    
}

.right {
    background-color: #282C34;
}

.landing-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px;
}

.landing-button-container button {
    background: #7450E9;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 7px;
    max-width: 200px;
    padding: 8px;
    margin: 10px;
}

.landing-button-container a {
    text-decoration: none;
    color: white;
}

.team-logo-img {
    max-width: 20vw;
}