.login-title-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    align-items: center;
}

.login-title-container h1 {
    margin: 14px 0px 32px 15px;
    font-weight: 600;
    text-shadow: #64b5f6;
    color: #ffb74d;
    
}

.login-form-container {
    width: 70%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    border: 1px groove #90caf9;
    box-shadow: rgba(245, 245, 102, 0.12) 0px 2px 4px 0px, rgba(245, 245, 242, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
    text-align: center;
}

.login-register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-form-container input, 
.login-form-container label{
    padding: 16px;
    font-size: 16px;
    margin-bottom: 16px;
    color: rgb(200, 200, 200);
}

.login-form-container input {
    border: 1px solid #292934;
    border-radius: 7px;
    background: #0B0B12;
}

.login-form-container label {
    font-family: 'Signika', sans-serif;
}

.login-input-container {
    align-self: flex-end;
    margin-right: 20%;
}

#login-submit-button{
    margin: 22px 40px 0 15px;
    background: #2196f3;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 7px;
    padding: 10px;
    font-size: 20px;

}

#login-submit-button:hover{
    background-color: #1976d2;
}

#login-cancel-button {
    margin-top: 16px;
    background: #f48fb1;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 7px;
    padding: 10.2px;
    font-size: 20px;
}

#login-cancel-button:hover {
    background-color: #aa647b;
}


@media only screen and (max-width: 900px) {
    .login-form-container {
        width: 75%;
    }
}