.nav-bar{
height: 70px;
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid #292934;
padding: 10px 35px 10px 35px;
background: #12121b;
color: whitesmoke
}

.nav-bar a {
    color: blanchedalmond;
    text-decoration: none;
    font-size: 1.3rem;
}

.nav-bar a:hover {
    color: #f44336;
    text-decoration: underline;
}

.nav-bar-left a {
    margin-left: 1rem; 
}

.nav-bar-left {
    font-size: larger;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.logo {
display: flex;
align-items: center;
text-decoration: none;
}

.logo img{
height: 50px;
margin-right: 8px;
}

.hamburger {
display: none;
}

.mobile-nav{
display: none;
}

@media only screen and (max-width: 850px) {
.nav-bar{
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
}

.hamburger {
    margin: 0;
    border: none;
    display: flex;
    background: none;
    align-items: flex-end;
    justify-content: flex-end;
}

.hamburger img {
    width: 25px;
}

.mobile-nav{
            width: 300px;
    display: none;
            position: absolute;
}

.mobile-nav.open{
    display: flex;
    flex-direction: column;
    border-left: 1px solid #292934;
    background: #12121b;

    z-index: 300;
    width: 300px;
    height: 100%;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

.mobile-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25px;
}

.mobile-links a, p {
    text-decoration: none;
    font-weight: medium;
    font-size: 20px;
    color: white;
    margin: 10px;
}    
}