.title-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.title-container h1 {
    margin: 14px 0px 32px 15px;
    font-weight: 600;
    text-shadow: #64b5f6;
    color: #ffb74d;
    
}

.form-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px    
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container input, label{
    padding: 16px;
    font-size: 16px;
    margin-bottom: 16px;
    color: rgb(200, 200, 200);
}

.form-container input {
  border: 1px solid #292934;
  border-radius: 7px;
  background: #0B0B12;
  align-self: flex-end;
}

.form-container label {
    font-family: 'Signika', sans-serif;;
}

.redirect-container{
    display: flex;
    opacity: .5;
    color: rgb(235, 235, 235);
    margin-top: 25px ;
    align-items: flex-start;
}

.redirect-container p {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.redirect-link{
    text-decoration: none;
    padding-left: 6px;
}

#link-login {
  color: #d32f2f;
  font-weight: 500;
}

#submit-button{
    margin: 22px 40px 0 15px;
    background: #a6d4fa;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 7px;
    padding: 10px;
    font-size: 20px;

}

#cancel-button {
  margin-top: 22px;
  background: #f6a5c0;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 7px;
  padding: 10.2px;
  font-size: 20px;
}

@media only screen and (max-width: 900px) {
  .form-container {
        width: 75%;
  }
}