.root {
    width: 90%;
    min-height: 175px;
    margin: .5rem;
    border-radius: 5px;
}

.link {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

